---
import Layout from '@/layouts/Layout.astro'
---

<Layout title='Frans Ekman - 404'>
  <div class='container-md items-center'>
    <div class='txt-h1'>Oops</div>
    <div class='txt-2'>The page you're looking for doesn't exist.</div>
  </div>
</Layout>
