---
import ExternalLink from '@/components/icons/ExternalLink.astro'
import Project from '@/components/Project.astro'
import Layout from '@/layouts/Layout.astro'
import { projects } from '@/lib/constants'
---

<Layout title='Frans Ekman - Projects'>
  <div class='container-md'>
    <h2 class='txt-h2'>Projects</h2>
    <div
      class='container-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4'
    >
      {projects.map((project) => <Project name={project} />)}
      <a class='card container-full' href='https://www.movle.app/'>
        <h2 class='txt-1 flex items-center gap-2'>
          Movle
          <ExternalLink class='h-4 w-4' />
        </h2>
        <div class='txt-3'>
          Test your cinema knowledge with Movle, the ultimate movie guessing
          game!
        </div>
      </a>
    </div>
  </div>
</Layout>
