---
import { cn } from '@/lib/utils'

interface Props {
  href: string
  size?: number
  className?: string
}
const { size = 24, href, className } = Astro.props
---

<a href={href}>
  <svg
    xmlns='http://www.w3.org/2000/svg'
    width={size}
    height={size}
    viewBox='0 0 24 24'
    stroke='currentColor'
    stroke-width='2'
    stroke-linecap='round'
    stroke-linejoin='round'
    fill='none'
    class={cn('lucide lucide-at-sign', className)}
    ><circle cx='12' cy='12' r='4'></circle><path
      d='M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-4 8'></path></svg
  >
</a>
