---
import Email from './Email.astro'
import GitHub from './GitHub.astro'
import LinkedIn from './LinkedIn.astro'
---

<footer
  class='p-4 border-t bg-card txt-4 grid grid-cols-2 sm:grid-cols-3 gap-4'
>
  <nav class='flex sm:justify-start gap-4'>
    <a href='/'>Projects</a>
    <a href='/about'>About me</a>
  </nav>
  <div class='flex justify-end sm:justify-center gap-6'>
    <GitHub href='https://github.com/fransek' size={20} />
    <LinkedIn href='https://www.linkedin.com/in/frans-ekman/' size={20} />
    <Email href='mailto:fransedvinekman@gmail.com' size={20} />
  </div>
  <div class='flex sm:justify-end text-xs'>
    © {new Date().getFullYear()}, Frans Ekman
  </div>
</footer>
