<header class='p-4 border-b bg-card flex items-center gap-4 xs:gap-6'>
  <h1 class='txt-1'>Frans Ekman</h1>
  <nav class='flex items-center gap-4 xs:gap-6 txt-3'>
    <a href='/'>Projects</a>
    <a href='/about'>About me</a>
  </nav>
</header>
