---
import { routes } from '@/lib/constants'
---

<header class='p-4 border-b bg-card flex items-center gap-6'>
  <nav class='flex items-center gap-6'>
    <a class='txt-1' href={routes.home}>Frans Ekman</a>
    <a class='txt-3' href={routes.projects}>Projects</a>
  </nav>
</header>
