---
import { ghFetch } from '../lib/utils'

interface Props {
  name: string
}

const { name } = Astro.props

const res = await ghFetch(`repos/${name}`)
const data = await res.json()
console.log(data)
---

<a class='card container-full' href={`/projects/${data.full_name}`}>
  <h2 class='txt-1'>{data.name}</h2>
  <div class='txt-3'>{data.description}</div>
</a>
