---
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import { ClientRouter } from 'astro:transitions'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='sitemap' href='/sitemap-index.xml' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class='flex min-h-screen flex-col justify-between antialiased'>
    <Header />
    <main
      class='flex flex-1 flex-col items-center gap-8 px-4 py-8 md:px-10 md:py-20'
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

  html,
  body {
    @apply bg-primary text-primary-foreground txt-2;
    font-family: 'Noto Sans', serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
  }

  * {
    @apply border-border;
  }
</style>
